body {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 30px 0;
  font-size: 1.5em;
}

header img {
  width: 100px;
}

.container {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  color: white;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 #3b3939 inset;
}

.container-author {
  width: 100%;
  text-align: center;
  background-color: black;
  border-radius: 15px;
}

.container-phrase {
  height: 80%;
  width: 90%;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.container-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  justify-content: center;
}

.container-all-quotes {
  flex-direction: column;
  gap: 30px;
  background-color: black;
  color: white;
  width: 100%;
  align-items: center;
  padding: 0 0 30px;
}

.quote-save {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  background-color: #181818;
  padding: 15px;
  width: 85%;
  box-shadow: 0 0 50px 0 #3b3939 inset;
}

button {
  background-color: #181818db;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
  padding: 8px;
  cursor: pointer;
}

.container-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 15px;
}

.hidden {
  display: none;
}
